.post {

	&__summary {
		padding: 2rem;		
		border-radius: 1rem;
		box-shadow: 0 0 51px rgba(0,0,0,0.4);
		margin-bottom: 2rem;
		line-height: 1.6rem;
	}

	&__title {
		font-size: 1.8rem;
		line-height: 2rem;
		text-decoration: none;
		margin-bottom: 1.4rem;
		margin-top: .5rem;
		display: block;
		font-family: $header-font;
	}

	&__type {
		text-transform: uppercase;
		opacity: 0.7;
	}

	&__img {
		width: 100%;
	}

	&__intro {
		margin-bottom: 1rem;
	}

	&--blogpost {
		background: #0c2a3a;
		color: #e8bbd7;

		&__title {
			color: #e8bbd7;
		}
	}

	&--casestudy {
		background: #d3bbc9;
		color: #0c2a3a;

		&__title {
			color: #0c2a3a;
		}
	}

	&--bookreview {
		background: #aa2a30;
		color: #d4bbc9 ;

		&__title {
			color: #d4bbc9 ;
		}
	}

	&--sideproject {
		background: #2e1c2d;
		color: #d4bbc9 ;

		&__title {
			color: #d4bbc9 ;
		}
	}

	&--single {
		max-width: 600px;

		img {
			width: 100%;
		}
	}

}