.project-card--one {
	background: url('../../img/one.jpg') no-repeat;
}

.project-card--two {
	background: url('../../img/two.jpg') no-repeat;
}

.project-card--three {
	background: url('../../img/three.jpg') no-repeat center center;
}

.project-card--four {
	background: url('../../img/four.jpg') no-repeat r;
}

.project-card {
	width: 100%;
	float: left;
	min-height: 400px;
	padding: 1rem;
	color: #eee;
	text-decoration: none;
	margin-bottom: 1.4rem;
	font-family: $header-font;
}

.project-card:hover {
	color: #ddd;
}

.project-card:visited {
	color: #eee;
}

@media screen and (min-width: 800px) {

	.project-card {
		width: 48%;
	}

	.project-card:nth-of-type(odd) {
		margin-right: 2%;
	}

	.project-card:nth-of-type(even) {
		margin-left: 2%;
	}

}