---
layout: default
title: Russ Brown
---

{% assign feed = site.categories.making | sort: "date" | reverse %}

<ul class="grid grid--feed">
{% for post in feed %}
  <li>
    {% if post.link %}
      <a href="{{ post.link }}" class="project__card" target="_blank" rel="noopener">
    {% else %}
      <a href="{{ post.url }}" class="project__card">
    {% endif %}
      {% if post.img %}
        <img src="{{ post.img }}" class="project__img" alt="{{ post.title }}" />
      {% else %}
        <div class="project__placeholder">
          {% if post.type %}<span class="project__placeholder-type">{{ post.type }}</span>{% endif %}
        </div>
      {% endif %}
      <div class="project__info">
        <div class="project__title">{{ post.title }}</div>
        <div class="project__blurb">{{ post.excerpt }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>

<div class="gradient"></div>
