// typography

html,
body {
  font-size: 12px;
  line-height: 1.4rem;
  margin: 0 auto;
	font-family: $font;
  color: #cfbbca;
  background-color: #05131a;
  background-size: cover;
}

a {
  color: inherit;
}

p {
  margin: 1.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}