// typography

html,
body {
  font-size: 12px;
  line-height: 1.6rem;
  margin: 0 auto;
	font-family: $font;
  color: #cfbbca;
  background-color: #05131a;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 48em) {
    font-size: 14px;
  }
}

a {
  color: inherit;
}

p {
  margin: 1.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 45px;
  line-height: 40px;
  font-family: $header-font;
  margin-bottom: 1rem;
}