<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Dev mode CSS -->
         <link rel="stylesheet" href="/css/main.min.css"> 
         <link rel="stylesheet" href="/css/syntax.css">

        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>

        <!-- lob the css in here when dev done -->

        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/e450c906-0838-49ab-a244-b7410b740b05.css"/>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <p>You can contact me <a href="http://www.twitter.com/therusstler">via twitter</a>, or by emailing therusstler(at)icloud(dot)com.</p>

        </div>
    </body>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-55571871-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script src="/js/prism.js" defer></script>

</html>
