---
layout: default
---
<div class="project__single">
  {% if page.soundcloud %}
    <div class="project__player">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url={{ page.soundcloud | uri_escape }}&color=%23bfbfbf&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
    </div>
  {% elsif page.img %}
    <img src="{{ page.img }}" class="project__single-img" alt="{{ page.title }}" />
  {% else %}
    <div class="project__placeholder project__placeholder--large">
      {% if page.type %}<span class="project__placeholder-type">{{ page.type }}</span>{% endif %}
    </div>
  {% endif %}
  <div class="project__single-meta">
    {% if page.type %}<div class="project__type">{{ page.type }}</div>{% endif %}
    <h2 class="project__title project__title--large">{{ page.title }}</h2>
    {% if page.link %}
      <a href="{{ page.link }}" class="project__external-link" target="_blank" rel="noopener">View project &rarr;</a>
    {% endif %}
    {% if page.soundcloud %}
      <a href="{{ page.soundcloud }}" class="project__external-link" target="_blank" rel="noopener">Listen on SoundCloud &rarr;</a>
    {% endif %}
  </div>
  <div class="project__single-body">
    {{ content }}
  </div>
</div>
