.cv-container {
	padding-top: 60px;

	.col4 {
		width: 21%;
		float: left;
		margin-right: 4%;
	}

	h4 {
		font-size: 1em;
		font-weight: bold;
	}
}

.cv-footer {
	text-align: center;

	h1 {
		margin-bottom: 0;
		margin-top: 0;
		font-family: $header-font;
		font-size: 5em;
		font-weight: normal;
	}
}

@media screen and (max-width: 800px) {

	.site .cv-container .col4 {
		width: 46%;
		margin-right: 4%;
	}

}

@media screen and (max-width: 480px) {

	.site .cv-container .col4 {
		width: 100%;
	}

}