.cv-container {
	padding-top: 60px;

	.col4 {
		width: 21%;
		float: left;
		margin-right: 4%;
	}

	h4 {
		font-size: 1em;
		font-weight: bold;
	}
}

.goals {
	margin: 1em 0;
	padding: 1em 0;
}

.goals:first-child {
	padding-top: 2em;
}

.goals-success {
	color: #39B24E !important;
}

.goals-fail {
	color: #B22B45 !important;
}

.goals-title {
	margin-top: 0;
	margin-bottom: 0;		
}

.cv-footer {

	.contact {
		text-align: center;
		padding-top: 1em;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}

	h1 {
		margin-bottom: 0;
		margin-top: 0;
		font-family: $header-font;
		font-size: 5em;
		font-weight: normal;
	}

	.contact-items {
		font-weight: normal;
		margin-top: 0;
	}
}

@media screen and (max-width: 800px) {

	.site .cv-container .col4 {
		width: 46%;
		margin-right: 4%;
	}

}

@media screen and (max-width: 480px) {

	.site .cv-container .col4 {
		width: 100%;
	}

}